.navbar div{
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
#about a,
.pseudolink-email
{
  color: #F0563D;
}

.navbar
{
  border-radius: 0;
  background: #eee;
}

#text-header h1::first-line{
  font-size: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  line-height: inherit;
}

#text-header .greeting_first_line{
  display:inline;
  font-size: 1.5em;
  letter-spacing: -4px;
  font-weight: 800;
  line-height: 1.5em;
}

.navbar-nav a:before{
  content: '//';
  margin-right: 5px;
}

#about div
{
  margin-bottom: 10px;
}

#about div:last-child
{
  margin-bottom: 0px;
}

.description p
{
  font-size: inherit;
  line-height: inherit;
  margin: 0px;
}

.description code
{
  white-space: inherit;
}

#text-header:after{
  
  height: 2px;
  
}

#about:after{
  width: 100%;
  height: 2px;
  background: url(../img/line.png);
  margin-top: 15px;
  content: '';
  display: block;
}

.box .where p {
    font-size: inherit;
    line-height: inherit;
}
.where p {
    margin: inherit;
}

.job .where {
  white-space: normal;
}